<p id="notice"><%= notice %></p>

<p>
  <strong>Shortmessage:</strong>
  <%= @message.shortmessage %>
</p>

<p>
  <strong>Longmessage:</strong>
  <%= @message.Longmessage %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
